{{!-- app/components/board.hbs --}}
{{yield}}
<div class="p-40 bg-transparent">
  {{#each this.rows as |row index|}}
  <div class="flex">
    {{#each row as |cell|}}
    <div class="w-40 h-40 border border-blue-400 flex items-center justify-center" id="cell">
      <src img="x.png" alt="X" />
      {{! Render the cell content here }}
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>