<button  class="bg-green-400 text-white px-4 py-2 rounded flex items-center">
    <LinkTo @route="index" class="text-inherit flex items-center">
        <i class="material-icons mr-1">home</i>
        <span>{{yield}}</span>
    </LinkTo>
</button>