{{#if this.gameService.showBoard}}
<div class="game-board">
    {{#each this.gameBoard as |row index|}}
    <div class="game-row">
        {{#each row as |cell cellIndex|}}
        <button type="button" {{on 'click' (fn this.makeMove index cellIndex)}}>
            {{cell}}
        </button>
        {{/each}}
    </div>
    {{/each}}
</div>
{{else}}
<h1>Game Over</h1>
{{/if}}
<LinkTo @route="index" class="text-blue-500">Home</LinkTo>
