{{! app/templates/new-game.hbs }}
<MainComponent>
  <div>
    <label>
      Player One:
      <input type="text" {{on "input" this.updatePlayerOne}} />
    </label>
    <label>
      Player Two:
      <input type="text" {{on "input" this.updatePlayerTwo}} />
    </label>
    <button
      class="bg-red-500 px-4 py-2 rounded bg-sky-500/50"
      type="button"
      {{on "click" this.startNewGame}}
    >
      Start Game
    </button>
  </div>

</MainComponent>